# =======================================================================
# Flutter / Dart / Pub Dependencies
# =======================================================================
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
coverage/
**/doc/api/
**/ios/Flutter/.last_build_id

# Flutter Artifacts & Obfuscation
app.*.symbols
app.*.map.json

# Android Build Artifacts
android/app/debug
android/app/profile
android/app/release
